@use 'sass:map';
@use 'sass:color';
@use '../../variables' as vars;

.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.75;
  border-radius: vars.$border-radius;
  min-width: 64px;
  transition:
    background-color 200ms,
    box-shadow 200ms,
    border-color 200ms,
    color 200ms;
  &.disabled {
    pointer-events: none;
    cursor: default;
    color: rgba(0, 0, 0, 0.26);
  }
}

.text {
  background: transparent;
  color: map.get(vars.$palette, primary);

  &:hover {
    background: map.get(vars.$palette, primary-light);
  }
}

.contained {
  background: map.get(vars.$palette, primary);
  color: map.get(vars.$palette, text);
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  &:hover {
    background: map.get(vars.$palette, primary-hover);
  }

  &.disabled {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.outlined {
  background: transparent;
  border: 1px solid map.get(vars.$palette, primary);
  color: map.get(vars.$palette, primary);

  &:hover {
    background: map.get(vars.$palette, primary-light);
  }
  &.disabled {
    border-color: rgba(0, 0, 0, 0.26);
  }
}

.small {
  padding: map.get(vars.$spacing, small);
  font-size: 0.8125rem;
}
.medium {
  padding: map.get(vars.$spacing, medium);
}
.large {
  padding: map.get(vars.$spacing, large);
}
