@use 'sass:map';
@use 'sass:color';
@use '../../variables' as vars;

.label {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  background: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 200ms;
  transform-origin: top left;
  color: map.get(vars.$palette, text-secondary);
  z-index: 1;

  &.floated {
    top: 0;
    transform: scale(0.75) translateY(-50%);
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 0 3px;
    z-index: 100;
  }

  &.focused {
    color: map.get(vars.$palette, primary);
  }
}
