@use 'sass:map';
@use 'sass:color';
@use '../../variables' as vars;

.root {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxOuter {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  &:has(.checkbox:not(.disabled)):hover {
    background-color: map.get(vars.$palette, primary-light);
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  transition:
    background 200ms,
    border-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  &.default {
    background: map.get(vars.$palette, background);
    border-color: map.get(vars.$palette, border-disabled);
    &.disabled {
      pointer-events: none;
      background: map.get(vars.$palette, background);
      border-color: map.get(vars.$palette, disabled-text);
    }
  }
  &.checked {
    background-color: map-get(vars.$palette, primary);
    border-color: map-get(vars.$palette, primary);
    &.disabled {
      pointer-events: none;
      border-color: map.get(vars.$palette, disabled-text);
      background-color: map.get(vars.$palette, disabled-text);
    }
  }
  &:hover:not(.disabled) {
    border-color: map-get(vars.$palette, primary);
  }
}

.icon {
  width: 14px;
  height: 14px;
  display: none;
  fill: map.get(vars.$palette, text);
}

.checkbox.checked .icon {
  display: block;
}

.label {
  font-size: 0.875rem;
  color: map.get(vars.$palette, text-primary);
}

.hiddenCheckbox {
  width: 0;
  height: 0;
}
