@use 'sass:map';
@use 'sass:color';
@use '../../variables' as vars; // optional

.root {
  display: inline-flex;
  flex-direction: column;
  font-family: inherit;
  width: fit-content;
}

.inputContainer {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  background: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 200ms;
  transform-origin: top left;
  color: map.get(vars.$palette, text-secondary);
  &Floated {
    top: 0;
    transform: scale(0.75) translateY(-50%);
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 0 3px;
    color: map.get(vars.$palette, primary);
  }

  &Error {
    color: map.get(vars.$palette, error);
  }
}

.input {
  font: inherit;
  padding: 16.5px 14px;
  border-radius: vars.$border-radius;
  transition:
    border-color 200ms,
    background 200ms;
  color: #000;
  outline: none;
  background: #fff;
  &Default {
    border: 1px solid map.get(vars.$palette, default);
    &:hover {
      border-color: map.get(vars.$palette, secondary);
    }
    &:focus {
      border-color: map.get(vars.$palette, primary);
      border-width: 2px;
    }
  }
  &Error {
    border: 1px solid map.get(vars.$palette, error);
    &:focus {
      border-width: 2px;
    }
  }
}

.helperText {
  margin-top: 3px;
  font-size: 0.75rem;
  color: map.get(vars.$palette, text-secondary);
  padding-left: 14px;
  text-align: left;

  &Error {
    color: map.get(vars.$palette, error);
  }
}
